.Header {
  position: fixed;
  left: 0.35em;
  right: 0.35em;
  z-index: 1;
}

.Header .items-container {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
}

.Header h1 {
  font-weight: 200;
}

.Header .drop-down-menu {
  display: none;
}
