.Header {
  position: fixed;
  left: 0.35em;
  right: 0.35em;
  z-index: 1;
}

.Header .items-container {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
}

.Header h1 {
  font-weight: 200;
}

.Header .drop-down {
  opacity: 1;
  transform: translateY(100%);
  transition: all 1s ease;
}

.Header .drop-not-visible {
  opacity: 0;
  transform: translateY(-150%);
}
