.HomeRoute {
  background-color: #fb8f67;
  height: 100%;
  overflow: hidden;
}

.HomeRoute .opening-and-animation-container {
  background-color: #156064;
  height: 100vh;
  min-height: 650px;
  z-index: 1;
  position: relative;
}

.HomeRoute .opening-container {
  height: 100%;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HomeRoute .circle-1 {
  width: 65vh;
  height: 65vh;
  border-radius: 50%;
  bottom: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #13696d;
  position: absolute;
}

.HomeRoute .circle-2 {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  top: 45%;
  left: 0;
  transform: translate(-50%, -50%);
  background-color: #13696d;
  position: absolute;
}

.HomeRoute .opening-container h2 {
  margin-bottom: 12em;
}

.HomeRoute .opening-container h4 {
  font-size: 0.65em;
  margin-bottom: 1em;
}

.HomeRoute .opening-container p {
  position: absolute;
  font-size: 7.5rem;
  transform: translateX(-50%);
  color: #17757a;
}

.HomeRoute .background-word {
  font-family: "Leckerli One", cursive;
}

.HomeRoute img {
  width: 5em;
}

.HomeRoute .skills-container {
  height: 100%;
  position: relative;
  background-color: #ff9d79;
  padding-top: 5em;
  border-top-left-radius: 5em;
  border-top-right-radius: 5em;
}

.HomeRoute .skills-heading,
.HomeRoute .skills-learning-heading {
  text-align: center;
}

.HomeRoute .skills-learning-heading {
  margin-top: 5em;
}

.HomeRoute .software-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.HomeRoute .software-icons li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.HomeRoute .learning-icons {
  padding-bottom: 5em;
}

@media only screen and (min-width: 865px) {
  .HomeRoute .opening-container p {
    font-size: 20rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #17757a;
  }

  .HomeRoute .circle-3 {
    top: 55em;
  }

  .HomeRoute .opening-container h2 {
    font-size: 3.25rem;
    margin-bottom: 6em;
  }

  .HomeRoute .opening-container h4 {
    font-size: 1em;
    margin-bottom: 0.75em;
  }

  .HomeRoute .opening-container h3 {
    font-size: 1.5rem;
  }

  .HomeRoute .software-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
  }

  .HomeRoute .software-icons li {
    margin: 1.5em 5em;
  }
}
