.MainPortfolioRoute {
  background-color: #156064;
  padding-top: 3em;
  overflow: hidden;
}

.MainPortfolioRoute section {
  height: 100%;
  background-color: #156064;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2em;
}

.MainPortfolioRoute section * {
  margin: 1.5em 0;
}

.MainPortfolioRoute section:nth-child(even) {
  background-color: #fb8f67;
}

.MainPortfolioRoute h2 {
  text-align: center;
  line-height: 1.5em;
}

.MainPortfolioRoute a {
  color: #fff;
  background-color: #00c49a;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  margin: 1em auto;
  padding: 0.5em 1.5em;
  border-radius: 3px;
}

.MainPortfolioRoute img {
  width: 17em;
}

.MainPortfolioRoute p {
  line-height: 2.25em;
}
