/* Resets: */
body,
main,
h1,
h2,
h3,
h4,
p,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.35rem;
}

p {
  font-family: "Lusitana", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
